In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("imdb.csv",escapechar="\\")

In [7]:
df['GenreCombo']=df[df.columns[16:]].T.apply(lambda g: '|'.join(g.index[g==1]),axis=0)
df.groupby(["type","year","GenreCombo"]).agg({"imdbRating":[min,max,np.mean],'duration':np.sum})

                                      imdbRating           duration
                                             min  max mean      sum
type     year   GenreCombo
game     1972.0 Sport                        7.8  7.8  7.8      0.0
         1980.0 Action                       6.1  6.1  6.1      0.0
                Action|Family                7.7  7.7  7.7      0.0
         1981.0 Action|SciFi                 7.6  7.6  7.6      0.0
         1982.0 Animation|Family             7.3  7.3  7.3      0.0
...                                          ...  ...  ...      ...
video.tv 2014.0 Drama|SciFi|decile           7.7  7.7  7.7   3300.0
                GameShow                     NaN  NaN  NaN      0.0
                RealityTV                    7.2  7.2  7.2      0.0
                SciFi|Thriller|decile        7.1  7.1  7.1   2400.0
         2015.0 Action|SciFi                 NaN  NaN  NaN      0.0

[8041 rows x 4 columns]

In [80]:
df['Title_Length']=df['title'].str.len()

In [82]:
df['Quantile']=pd.qcut(df['Title_Length'],4,labels=False)
dataf=pd.crosstab(df.year,df.Quantile,margins=False)
dataf["min"]=df.groupby(["year"])["Title_Length"].min()
dataf["max"]=df.groupby(["year"])["Title_Length"].max()

In [83]:
dataf

Quantile    0   1    2    3  min  max
year
1888.0      0   1    1    0   28   36
1890.0      0   1    0    0   26   26
1893.0      0   1    0    0   23   23
1894.0      0   0    1    0   38   38
1899.0      0   1    0    0   29   29
...       ...  ..  ...  ...  ...  ...
2013.0    109  70  102  211    9   97
2014.0     22  29   22   56   11  106
2015.0      4   1    1    2   14   49
2016.0      1   0    0    0   16   16
2017.0      1   0    0    0   21   21

[117 rows x 6 columns]

In [23]:
df['Title_Length'].corr(df['imdbRating'])

0.10931275320707519

In [87]:
df=pd.read_csv("diamonds.csv")

In [89]:
df['z'].fillna(0, inplace = True) 
for i in range(0,len(df)):
    if(df['z'][i]=="None"):
        df['z'][i]=0

In [90]:
for i in range(0,len(df)):
    df['z']=df['z'].astype(float)

In [91]:
ans=[]
for i in range(0,len(df)):
    if df['depth'][i]>60:
        ans.append(df['x'][i]*df['y'][i]*df['z'][i])
    else:
        ans.append(8)
df['volume']=ans

In [98]:
df["bins"]=pd.qcut(df["volume"],q=5,labels=['1','2','3','4','5'])

In [106]:
df3=(pd.crosstab(df["bins"],df["cut"],normalize=True))*100

In [107]:
df3

cut       Fair      Good      Ideal   Premium  Very Good
bins
1     0.524638  2.484150   5.153684  6.223351   5.615290
2     0.087131  1.114160  11.391865  4.371362   3.032887
3     0.619184  1.616551   9.703014  3.609432   4.456639
4     1.051129  2.487857   6.330874  4.927515   5.198176
5     0.702607  1.394090   7.372734  6.436543   4.095139

In [17]:
df['decile'] = pd.qcut(df['duration'], 10, labels=False)
df.groupby(["decile"]).agg({"nrOfNominations":np.sum,"nrOfWins":np.sum,"ratingCount":np.sum})

        nrOfNominations  nrOfWins  ratingCount
decile
0.0                7928      3349    8455934.0
1.0                4923      1912    6732651.0
2.0                8946      3730    8689093.0
3.0                3128      2740   27253509.0
4.0                3109      2511   27335972.0
5.0                3981      3253   31939171.0
6.0                5713      4632   45966919.0
7.0                6470      5473   54095724.0
8.0                9667      7999   71691803.0
9.0               12095      9595   75227832.0

In [8]:
datf=pd.crosstab(df.decile,df.GenreCombo,margins=False)

In [13]:
datf

GenreCombo,,Action,Action|Adventure,Action|Adventure|Animation,Action|Adventure|Animation|decile,Action|Adventure|Biography,Action|Adventure|Biography|decile,Action|Adventure|Comedy,Action|Adventure|Comedy|decile,Action|Adventure|Crime,...,TalkShow|decile,Thriller,Thriller|War,Thriller|Western,Thriller|decile,War,War|Western,Western,Western|decile,decile
decile,,,,,,,,,,,,,,,,,,,,,
0.0,57,1,1,56,0,0,0,2,0,1,...,0,0,0,0,0,0,0,3,0,0
1.0,0,0,0,0,1,0,2,0,3,0,...,7,0,0,0,3,0,0,0,4,12
2.0,19,0,6,21,0,1,0,4,0,7,...,0,0,0,0,0,0,0,5,0,0
3.0,6,2,6,11,0,0,0,12,0,0,...,0,4,1,0,0,0,0,16,0,0
4.0,2,2,1,7,0,2,0,12,0,0,...,0,1,2,1,0,0,1,16,0,0
5.0,2,3,0,2,0,0,0,22,0,2,...,0,3,2,0,0,0,0,12,0,0
6.0,1,4,4,9,0,3,0,22,0,3,...,0,7,0,0,0,0,0,9,0,0
7.0,2,1,3,3,0,3,0,17,0,8,...,0,4,0,0,0,0,0,13,0,0
8.0,5,1,8,3,0,1,0,13,0,18,...,0,5,0,0,0,1,1,12,0,0
9.0,13,5,1,0,0,6,0,7,0,7,...,0,2,0,0,0,0,0,8,0,0

In [14]:
datf['GenreComboCombo']=datf[datf.columns[1:]].T.apply(lambda g: '|'.join(g.inde[g==1]),axis=0)

AttributeError: ("'Series' object has no attribute 'inde'", 'occurred at index 0.0')