In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("diamonds.csv")

In [32]:
def dupl_rows(df):
    q=len(df[df.duplicated()])
    return q

In [33]:
dupl_rows(df)

149

In [34]:
def drop_row(df):
    hs=df.dropna(subset=['carat','cut'])
    return hs

In [35]:
drop_row(df)

,carat,cut,color,clarity,depth,table,price,x,y,z,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,8.000000
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,8.000000
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
53938,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,115.920000
53939,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,118.110175
53940,0.7,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,114.449728
53941,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,140.766120
53942,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,124.568444

In [36]:
def sub_numeric(df):
    num=df._get_numeric_data()
    return num

In [37]:
sub_numeric(df)

       depth  table   price     x     y     z      volume
0       61.5   55.0   326.0  3.95  3.98  2.43   38.202030
1       59.8   61.0   326.0  3.89  3.84  2.31    8.000000
2       56.9   65.0   327.0  4.05  4.07  2.31    8.000000
3       62.4   58.0   334.0  4.20  4.23  2.63   46.724580
4       63.3   58.0   335.0  4.34  4.35  2.75   51.917250
...      ...    ...     ...   ...   ...   ...         ...
53938   60.8   57.0  2757.0  5.75  5.76  3.50  115.920000
53939   63.1   55.0  2757.0  5.69  5.75  3.61  118.110175
53940   62.8   60.0  2757.0  5.66  5.68  3.56  114.449728
53941   61.0   58.0  2757.0  6.15  6.12  3.74  140.766120
53942   62.2   55.0  2757.0  5.83  5.87  3.64  124.568444

[53943 rows x 7 columns]

In [13]:
def volume(df):
    df['z'].fillna(0, inplace = True)
    for i in range(0,len(df)):
        if(df['z'][i]=="None"):
            df['z'][i]=0
    for i in range(0,len(df)):
        df['z']=df['z'].astype(float)
    ans=[]
    for i in range(0,len(df)):
        if df['depth'][i]>60:
            ans.append(df['x'][i]*df['y'][i]*df['z'][i])
        else:
            ans.append(8)
    df['volume']=ans
    return df

In [14]:
volume(df)

,carat,cut,color,clarity,depth,table,price,x,y,z,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,8.000000
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,8.000000
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
53938,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,115.920000
53939,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,118.110175
53940,0.7,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,114.449728
53941,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,140.766120
53942,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,124.568444

In [38]:
def impute(df):
    df=df.fillna(df.mean())
    return df

In [39]:
impute(df)

,carat,cut,color,clarity,depth,table,price,x,y,z,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,38.202030
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,8.000000
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,8.000000
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,46.724580
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
53938,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50,115.920000
53939,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61,118.110175
53940,0.7,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56,114.449728
53941,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74,140.766120
53942,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64,124.568444