In [1]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv("imdb.csv",escapechar="\\")
df.to_csv("imdb2.csv",index=False)

In [13]:
def fifth_movie(df):
    h=df['imdbRating'][4]
    return h

In [14]:
fifth_movie(df)

8.7

In [11]:
def movies(df):
    minval=df[df["duration"]==df["duration"].min()]["title"]
    maxval=df[df["duration"]==df["duration"].max()]["title"]
    return minval,maxval

In [12]:
movies(df)

(13682    Traffic Crossing Leeds Bridge (1888)
 Name: title, dtype: object,
 7535    Baseball The National Pastime (TV Episode 1994)
 Name: title, dtype: object)

In [7]:
def sort_df(df):
    so=df.sort_values(by=['year', 'imdbRating'],ascending = [True,False])
    return so

In [8]:
sort_df(df)

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western
14013,titles04/index.html.8647,tt0392728,Roundhay Garden Scene (1888),roundhay garden scene,http://www.imdb.com/title/tt0392728/,7.8,2931.0,NaN,1888.0,video.movie,...,0,0,0,0,1,0,0,0,0,0
13682,titles04/index.html.8070,tt0343112,Traffic Crossing Leeds Bridge (1888),traffic crossing leeds bridge,http://www.imdb.com/title/tt0343112/,7.2,1442.0,2.0,1888.0,video.movie,...,0,0,0,0,1,0,0,0,0,0
14125,titles04/index.html.8877,tt0416046,"Monkeyshines, No. 2 (1890)",monkeyshines no,http://www.imdb.com/title/tt0416046/,5.4,383.0,NaN,1890.0,video.movie,...,0,0,0,0,1,0,0,0,0,0
6909,titles04/index.html,tt0000005,Blacksmith Scene (1893),blacksmith scene,http://www.imdb.com/title/tt0000005/,6.3,1039.0,60.0,1893.0,video.movie,...,0,0,0,0,1,0,0,0,0,0
12691,titles04/index.html.6501,tt0177707,Dickson Experimental Sound Film (1894),dickson experimental sound film,http://www.imdb.com/title/tt0177707/,6.8,965.0,22.0,1894.0,video.movie,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8870,titles04/index.html.13318,tt1922570,Icarus Factor,icarus factor,http://www.imdb.com/title/tt1922570/,NaN,NaN,NaN,NaN,video.movie,...,0,0,0,0,0,0,0,1,0,0
8907,titles04/index.html.13388,tt1965235,Thomas the Tank Engine,thomas the tank engine,http://www.imdb.com/title/tt1965235/,NaN,NaN,NaN,NaN,video.movie,...,0,0,0,0,0,0,0,0,0,0
9388,titles04/index.html.14214,tt2761156,"Patrik, Age 1.5",patrik age,http://www.imdb.com/title/tt2761156/,NaN,NaN,NaN,NaN,video.movie,...,0,0,0,0,0,0,0,0,0,0
14485,titles04/index.html.9493,tt0472429,Voltron,voltron,http://www.imdb.com/title/tt0472429/,NaN,NaN,NaN,NaN,video.movie,...,0,0,0,0,0,0,0,0,0,0
14558,titles04/index.html.9608,tt0482548,The Monkey Wrench Gang,the monkey wrench gang,http://www.imdb.com/title/tt0482548/,NaN,NaN,NaN,NaN,video.movie,...,0,0,0,0,0,0,0,0,0,0

In [2]:
df=pd.read_csv("movie_metadata.csv")

In [4]:
def subset_df(df):
    sa=df[(df['gross'].astype(float)>2000000)&(df['budget'].astype(float)<1000000) & (df['duration'].astype(float)>30) &    (df['duration'].astype(float)<180)]
    return sa

In [5]:
subset_df(df)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2242,Black and White,Alfred Hitchcock,290.0,108.0,13000.0,285.0,Vera Miles,606.0,32000000.0,Horror|Mystery|Thriller,...,1040.0,English,USA,R,806947.0,1960.0,332.0,8.5,1.85,18000
2492,Color,John Carpenter,318.0,101.0,0.0,598.0,Donald Pleasence,2000.0,47000000.0,Horror|Thriller,...,1191.0,English,USA,R,300000.0,1978.0,742.0,7.9,2.35,12000
2619,Color,John Carpenter,318.0,101.0,0.0,598.0,Donald Pleasence,2000.0,47000000.0,Horror|Thriller,...,1191.0,English,USA,R,300000.0,1978.0,742.0,7.9,2.35,12000
3278,Color,Tobe Hooper,277.0,88.0,365.0,177.0,Edwin Neal,383.0,30859000.0,Horror|Thriller,...,826.0,English,USA,R,83532.0,1974.0,371.0,7.5,1.85,0
3821,Color,Billy Bob Thornton,104.0,148.0,0.0,263.0,Dwight Yoakam,3000.0,24475416.0,Drama,...,309.0,English,USA,R,890000.0,1996.0,324.0,8.0,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,Color,Morgan Spurlock,193.0,100.0,293.0,0.0,Amanda Kearsan,0.0,11529368.0,Comedy|Documentary|Drama,...,404.0,English,USA,PG,65000.0,2004.0,0.0,7.3,1.78,0
4984,Color,Edward Burns,36.0,98.0,0.0,73.0,Michael McGlone,138.0,10246600.0,Comedy|Drama|Romance,...,36.0,English,USA,R,25000.0,1995.0,111.0,6.6,1.85,265
5008,Black and White,Kevin Smith,136.0,102.0,0.0,216.0,Brian O'Halloran,898.0,3151130.0,Comedy,...,615.0,English,USA,R,230000.0,1994.0,657.0,7.8,1.37,0
5011,Color,Neil LaBute,80.0,97.0,119.0,7.0,Matt Malloy,136.0,2856622.0,Comedy|Drama,...,197.0,English,Canada,R,25000.0,1997.0,108.0,7.3,1.85,489
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0